@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2; 
}

.headerText {
  font-style: normal;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  font-size: small;
  overflow: hidden; 
  white-space: nowrap;
  animation: scrollTextAnimation 20s linear infinite; 
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #030303; 
}


.headerText span{
  padding: 1px;
}

@keyframes scrollTextAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.headerText span {
  font-weight: 500;
}

